
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #301313;
}
.comment .comment-arrow {
  border-color: #fff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #fff;
}
.tabs ul.primary li a.active {
  background-color: #fff;
}
.tabs ul.primary li.active a {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}
#header {
 /* background-color: #e5d4c4;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e5d4c4 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #e5d4c4 100%);*/
  background: url(/osteo-long/sites/all/themes/responsive_bartik/css/./images/header-bg.png);
}
a {
  color: #28aadf;
}
a:hover,
a:focus {
  color: #29c1ff;
}
a:active {
  color: #5ad0ff;
}
.sidebar .block {
  background-color: #fff;
  border-color: #fff;
}
#page-wrapper,
#footer-wrapper {
  background: #362f2d;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #000;
}
